<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- DB 스네이크케이스를 VO 캐멀케이스로 자동 변환 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>